typing_extensions; python_version>="3.7"
typing_extensions; python_version<"3.11"
jupyter>=1.0.0
matplotlib>=3.2.0
jax>=0.2.25
jaxlib>=0.1.74
numba>=0.55.0
numpy>=1.21.0
scipy>=1.2.3
jupytext>=1.11.3
tqdm>=4.61.0
sphinx>=4.4.0
scikit-learn>=1.0.1
joblib>=1.1.0
pytest>=7.0.1
pytest-env>=0.6.2
pre-commit>=2.13.0
sphinx-rtd-theme>=0.5.2
sphinx-book-theme>=0.3.3
pytest-cov>=2.12.1
tensorflow_datasets>=4.6.0
tensorflow>=2.9.1