sphinx==3.3.0
sphinx_rtd_theme==0.5.0
sphinxcontrib-katex==0.7.1
sphinxcontrib-bibtex==1.0.0
sphinx-autodoc-typehints==1.11.1
IPython==7.16.1
ipykernel==5.3.4
pandoc==1.0.2
jinja2<3.1.0
jupyter>=1.0.0
matplotlib>=3.2.0
jax>=0.2.25
jaxlib>=0.1.74
numba>=0.55.0
numpy>=1.21.0
scipy>=1.2.3
jupytext>=1.11.3
tqdm>=4.61.0
scikit-learn>=1.0.1
joblib>=1.1.0
pytest>=7.0.1
pytest-env>=0.6.2
pre-commit>=2.13.0
pytest-cov>=2.12.1
tensorflow_datasets>=4.6.0
tensorflow>=2.9.1
